/* .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
  } */
  
  .sidenav h2 {
    color: white;
    padding: 10px;
  }
  
  .sidenav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidenav li {
    padding: 8px;
  }
  
  .sidenav a {
    text-decoration: none;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  